
@{
    ViewData["Title"] = "Print";
}

<h1>Person Details</h1>
//to display details we create view

<p>
    Your Name : @ViewBag.Name
</p>
<p>
    Your Email : @ViewBag.Email
</p>
<p>
    Gender : @ViewBag.Gender
</p>
<p>
    Your City : @ViewBag.City
</p>


